@font-face{font-family: LargePixelFont; src: url('../fonts/pixelFont.otf');}
@font-face{font-family: LightPixelFont; src: url('../Roboto_Mono/static/RobotoMono-Light.ttf');}
@font-face{font-family: PixelFont; src: url('../Roboto_Mono/static/RobotoMono-Medium.ttf');}

body {
	color: white;
	font-size: 15px;
	font-family: LightPixelFont;
	text-align: center;
    text-shadow: 0px 0px 15px rgba(204,204,204,0.37), 0px 0px 5px rgba(204,204,204,0.36), 0px 0px 5px rgba(204,204,204,0.36);
}

html
{
	/*background-image: url('../images/bg1.png');*/
	background-color: #17172f;
	background-repeat: no-repeat;
    background-size: cover
}
h1 {
	color: white;
	font-size: 35px;
	font-family: LargePixelFont;
	text-align: center;
	text-shadow: 0px 0px 15px rgba(204,204,204,0.37), 0px 0px 15px rgba(204,204,204,0.37), 0px 0px 20px rgba(204,204,204,0.37), 0px 0px 5px rgba(204,204,204,0.36), 0px 0px 5px rgba(204,204,204,0.36), 0px 0px 5px rgba(204,204,204,0.36);
}
button.link {
	background: none;
	border: none;
	color: rgb(89, 145, 255);
	font-size: 25px;
	font-family: PixelFont;
	text-align: center;
	transition: all .4s cubic-bezier(0.28, 2.4, 0.37, 0.79);
}
button.linkh {
	margin: auto;
	background: none;
	border: none;
	color: white;
	font-size: 35px;
	font-family: LargePixelFont;
	text-align: center;
	transition: all .4s cubic-bezier(0.28, 2.4, 0.37, 0.79);
	text-shadow: 0px 0px 15px rgba(204,204,204,0.37), 0px 0px 15px rgba(204,204,204,0.37), 0px 0px 20px rgba(204,204,204,0.37), 0px 0px 5px rgba(204,204,204,0.36), 0px 0px 5px rgba(204,204,204,0.36), 0px 0px 5px rgba(204,204,204,0.36);
}
.itemBox:hover
{
	transform: scale(1.1);
}
button.link:hover
{
	color: orange;
	transform: scale(1.1);
}
button.linkh:hover
{
	transform: scale(1.1);
}
.flex-grid
{
	display:flex;
	align-items: center;
	justify-content: center;
}
.col 
{
	display:flex;
    align-items: center;
	padding: 0px;
}
.bar {
	background-color: #3C3C5A;
	margin: auto;
}
.itemBox {
	margin-top: 10;
	margin-left: 10;
	margin-right: 10;
	margin-bottom: 10;
	transition: all 0.5s cubic-bezier(0.28, 2.4, 0.37, 0.79);
}